#-----------------------------------------------------------------------
#     Configuration file for RegESM
#-----------------------------------------------------------------------
#
#-----------------------------------------------------------------------
#     PET Layout Option (sequential | concurrent)
#     'sequential' : active models defined on all PETs
#     'concurrent' : active models defined on non-overlapping           
#                    sets of PETs
#
#     PETs namelist option is used with 'concurrent' option to assign
#     specific number of PETs to the model components. The coupler is
#     defined on all available PETs
#-----------------------------------------------------------------------
#
PETLayoutOption: sequential 
#-----------------------------------------------------------------------
#     PET distribution of model components (ordered in ATM, OCN, RTM)
#     when 'concurrent' mode activated. i.e. 36 24 0
#
#     RTM component runs on last PET of the ATM component
#
#     Put zero to deactivate the model component. It works on both
#     'sequential' and 'concurrent' mode. 
#-----------------------------------------------------------------------
#
PETs: 60 60 1 
#
#-----------------------------------------------------------------------
#     Debug mode
#     '0' : no debug
#     '1' : only print informative messages 
#     '2' : '1' + write grid information in VTK format
#     '3' : '2' + write exchange fields into NetCDF
#     '4' : '3' + write exchange fileds into ASCII
#-----------------------------------------------------------------------
#
DebugLevel: 1
#
#-----------------------------------------------------------------------
#     Coupled model run information
#
#     Calendar   : calendar information (gregorian | noleap | 360_day)
#     StartTime  : simulation start time (YYYY MM DD hh mm ss)
#     RestartTime: simulation restart time (YYYY MM DD hh mm ss)
#     StartTime  : simulation stop time (YYYY MM DD hh mm ss)
#     TimeStep   : slow process coupling time step (YYYY MM DD hh mm ss)
#-----------------------------------------------------------------------
#
Calendar:    gregorian
StartTime:   1996 01 01 00 00 00
RestartTime: 1996 01 01 00 00 00 
StopTime:    2009 01 01 00 00 00
TimeStep:    0000 00 01 00 00 00
#
#-----------------------------------------------------------------------
#     Coupling time step among components
#
#     Matrix of divider for driver TimeStep. Zero (0) means no 
#     interaction between components.
# 
#          ATM  OCN  RTM
#     ATM   0    8    1         i.e  if driver TimeStep = 1-day then
#     OCN   8    0    0              3-hr  for ATM-OCN and OCN-ATM
#     RTM   0    1    0              1-day for ATM-RTM and RTM-OCN
#-----------------------------------------------------------------------
#
DividerForTStep::
0 8 1
8 0 0
0 1 0
:: 
#
#-----------------------------------------------------------------------
#     List of rivers (activated only for RTM-OCN coupling)
#     It defines outflow box coordinates, number of mounth point and
#     monthly correction factors.  
#      
#     [lon] [lat] [dir] [npoint] [1] [2] .... [12]
#-----------------------------------------------------------------------
#
RiverList::
48.26 46.25 -1 7 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Volga
51.80 47.12 -1 2 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Ural
49.26 38.74  1 2 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Kura
47.42 43.40  1 1 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Terek
::
