#-----------------------------------------------------------------------
#     Configuration file for RegESM
#-----------------------------------------------------------------------
#
#-----------------------------------------------------------------------
#     PET Layout Option (sequential | concurrent)
#     'sequential' : active models defined on all PETs
#     'concurrent' : active models defined on non-overlapping           
#                    sets of PETs
#
#     PETs namelist option is used with 'concurrent' option to assign
#     specific number of PETs to the model components. The coupler is
#     defined on all available PETs
#-----------------------------------------------------------------------
#
PETLayoutOption: sequential 
#
#-----------------------------------------------------------------------
#     Coupling Type
#
#     (1) Explicit
#     (2) Semi-implicit or leap-frog
#         In this case, OCN->ATM is explicit, ATM->OCN is implicit
#-----------------------------------------------------------------------
#
CouplingType: 1
#
#-----------------------------------------------------------------------
#     PET distribution of model components: [ATM] [OCN] [RTM] [WAV] [COP]
#
#     Notes:
#     * Put zero to deactivate the model component. 
#       It works on both 'sequential' and 'concurrent' mode. 
#     * In 'sequential' mode RTM component runs on the last PET
#     * In 'concurrent' mode there are two options. 
#       -1 - RTM component runs on the last PET
#        1 - RTM component will have its own PET
#
#     Usage Examples: 
#     60 60 1 0 0 - Three components are actived and total 121 core is
#                   needed when 'concurrent' mode is selected, otherwise 
#                   60 core is used in total and resource will be shared
#     60 60 -1 0 0- Three components are actived and 120 core is needed
#                   in total when 'concurrent' mode is selected, otherwise
#                   60 core is used by coupler.
#     60 60 0 0 0 - Only ATM and OCN components are active and 120 core is 
#                   needed in total when 'concurrent' mode is selected.
#-----------------------------------------------------------------------
#
PETs: 16 0 0 16 16
#
#-----------------------------------------------------------------------
#     Activate extrapolation for unmapped grid cells
#     It aims to handle unaligned land-sea mask among the model components
#     
#     Based on two step interpolation: (1) bilinear -> (2) nearest
#     0   : deactivate (default option)
#     > 0 : activate (i.e. 1)
#-----------------------------------------------------------------------
#
UnmappedFill: 1
#
#-----------------------------------------------------------------------
#     Debug mode
#     '0' : no debug
#     '1' : only print informative messages 
#     '2' : '1' + write grid information in VTK format
#     '3' : '2' + write exchange fields into NetCDF
#     '4' : '3' + write exchange fileds into ASCII
#-----------------------------------------------------------------------
#
DebugLevel: 1 
#
#-----------------------------------------------------------------------
#     Performance check mode
#     0  : no performance information
#     1  : performance information
#-----------------------------------------------------------------------
#
EnablePerfCheck: True
#
#-----------------------------------------------------------------------
#     Coupled model run information
#
#     Calendar   : calendar information (gregorian | noleap | 360_day)
#     StartTime  : simulation start time (YYYY MM DD hh mm ss)
#     RestartTime: simulation restart time (YYYY MM DD hh mm ss)
#     StartTime  : simulation stop time (YYYY MM DD hh mm ss)
#     TimeStep   : slow process coupling time step (YYYY MM DD hh mm ss)
#-----------------------------------------------------------------------
#
Calendar:    gregorian
StartTime:   2008 01 01 00 00 00
RestartTime: 2008 01 01 00 00 00 
StopTime:    2009 01 01 00 00 00
TimeStep:    0000 00 00 01 00 00
#
#-----------------------------------------------------------------------
#     Coupling time step among components
#
#     Matrix of divider for driver TimeStep. Zero (0) means no 
#     interaction between components.
# 
#          ATM  OCN  RTM  WAV  COP
#     ATM   0    8    1    0    0
#     OCN   8    0    0    0    0
#     RTM   0    1    0    0    0
#     WAV   0    0    0    0    0
#     COP   0    0    0    0    0
#
#     If driver TimeStep is set as 1-day then 3-hr coupling interval
#     will be used between ATM-OCN and OCN-ATM and 1-day coupling
#     interval will be used between ATM-RTM and RTM-OCN
#-----------------------------------------------------------------------
#
DividerForTStep::
0 1 0 0 1
1 0 0 0 1
0 0 0 0 0
0 0 0 0 0
0 0 0 0 0
:: 
#
#-----------------------------------------------------------------------
#     Type of imposing river discharge (RTM --> OCN)
#     
#     (1) As point source (OCN retrieves 1D field, i.e. ROMS point source)
#         The array contains discarge from each individual river
#
#     (2) As surface boundary forcing (OCN retrieves 2D field)
#         The 2D field contains fresh water flux calculated from discharge 
#         The algorithm finds the closest OCN grid point to river
#         The number of effective OCN grids is used to distribute 
#         freshwater flux. The effective radius for each individual river
#         can be set by RiverList option  
#-----------------------------------------------------------------------
#
RiverOpt: 2
#
#-----------------------------------------------------------------------
#     List of rivers (activated for ATM-RTM-OCN coupling)
#      
#     Column  Description
#     ------  ----------------------------------------------------------
#     1     | River position defined as index (0) or coordinate (1)
#     2     | River is not-active (0), active (1) or fixed monthly (2)
#     3     | Effective radius in km (controls area of extent)
#     4     | If first column is equal to 0 then i-index else longitude
#     5     | If first column is equal to 0 then j-index else latitude
#     6     | River direction (only valid for RiverOpt = 1 and ROMS)
#     7     | Number of source point (only valid for RiverOpt = 1 and ROMS) 
#     8-19  | If second column is equal to 1 then values are used as
#           | monthly correction factors to tune the data generated by
#           | active RTM component.
#           | If second column is equal to 2 then values are used to
#           | assign fixed monthly values for river  
#-----------------------------------------------------------------------
#
RiverList::
1 2 20.0 31.31 31.65  1 5 838.6 655.9 727.4 858.9 1000.4 1291.0 1700.2 2126.8 1662.7 1134.5 922.5 771.4 # Nile
1 1 20.0  4.82 43.63 -1 2 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Rhone
1 1 20.0 12.39 44.86  1 1 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Po
1 1 20.0  0.67 40.83  1 1 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Ebro
1 1 20.0 35.31 36.80  1 1 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Ceyhan
1 1 20.0 12.44 45.23  1 1 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Adige
1 1 20.0 12.33 41.86 -1 1 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 # Tiber
::
#
#-----------------------------------------------------------------------
#      ParaView co-processing script
#-----------------------------------------------------------------------
#
CoProcessorScript::
scripts/allinputsgridwriter.py
::
#
#-----------------------------------------------------------------------
#      Co-processing component tile information
#-----------------------------------------------------------------------
#
CoProcessorTile: 4 4
#
#-----------------------------------------------------------------------
#      Height/depth lavels of model components for 3d interpolation  
#-----------------------------------------------------------------------
#
AtmLevs: 20 50 80 100 150 200 500 750 1000 1500 2000 5000 7000 10000
OcnLevs: 0 5 10 20 30 50 75 100 125 150 200 250 300 400 500 600 800 1000 1200 1500 2000
