#-----------------------------------------------------------------------
#     Configuration file for RegESM
#-----------------------------------------------------------------------
#
#-----------------------------------------------------------------------
#     PET distribution of model components (ordered in ATM, OCN, RTM)
#
#     Put zero to deactivate the model component. 
#-----------------------------------------------------------------------
#
PETs: 36 24 0
#
#-----------------------------------------------------------------------
#     PET Layout Option (sequential | concurrent)
#     <sequential> active models defined on all PETs
#     <concurrent> active models defined on non-overlapping sets of PETs
#
#     PETs namelist option is used only with <concurrent>
#     Connectors (or coupler) defined on all PETs
#-----------------------------------------------------------------------
#
PETLayoutOption: concurrent 
#
#-----------------------------------------------------------------------
#     Debug mode
#     <0> no debug
#     <1> only print informative messages 
#     <2> previous level and plus write grid information in VTK format
#     <3> previous level and plus write exchange fields into NetCDF
#     <4> previous level and plus write exchange fileds into ASCII
#-----------------------------------------------------------------------
#
DebugLevel: 1
#
#-----------------------------------------------------------------------
#     Coupled Model
#     Calendar:
#     <gregorian>
#     <noleap>
#     <360_day> 
#-----------------------------------------------------------------------
#
Calendar: gregorian
StartTime: 1996 01 01 00 00 00
StopTime:  2008 12 31 18 00 00
TimeStep:  0000 00 00 03 00 00
